.campo {
    resize: none; 
    height: 200px;
}

.form-control.code {
    resize: none; 
    height: 300px; 
    background-color: darkslategrey; 
    color: white;
}

.form-control.console {
    resize: none; 
    height: 300px; 
    background-color: black; 
    color: white;
    outline: 5px solid white;
}

.fundo {
    background-image: url('../images/fundo.png');
    background-size: 1560px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fundo-botao {
    background: url('/images/botao.png');
}